body {
    font-family: "Roboto Condensed";
    height: 100vh;
    width: 97vw;
    padding: 0;
    background-image: radial-gradient(bodyBG, shade(bodyBG, 25));
}

:-moz-any-link:focus {
    outline: 0;
}

/* Progress Bar Styles */

#progressbar, .cancelled-progressbar, .return-progressbar {
    margin-bottom: 3vh;
    overflow: hidden;
    color: #000;
    padding-left: 0;
    margin-top: 3vh;
  }
  
  #progressbar li, .cancelled-progressbar li, .return-progressbar li {
    list-style-type: none;
    font-size: 0.8rem;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #000;
  }
  
  #progressbar #step1:before, #progressbar #step2:before, #progressbar #step3:before, #progressbar #step4:before,
  .cancelled-progressbar #step1:before, .cancelled-progressbar #step2:before,
  .cancelled-progressbar #step3:before, .cancelled-progressbar #step4:before,
  .return-progressbar #step1:before, .return-progressbar #step2:before,
  .return-progressbar #step3:before, .return-progressbar #step4:before {
    content: "";
    color: #000;
    width: 20px;
    height: 20px;
  }
  
  #progressbar #step1:before, .cancelled-progressbar #step1:before, .return-progressbar #step1:before {
    margin-left: 0 !important;
  }
  
  #progressbar #step2:before, .cancelled-progressbar #step2:before, .return-progressbar #step2:before {
    margin-left: 32%;
  }
  
  #progressbar #step3:before, .cancelled-progressbar #step3:before, .return-progressbar #step3:before {
    margin-right: 32%;
  }
  
  #progressbar #step4:before, .cancelled-progressbar #step4:before, .return-progressbar #step4:before {
    margin-right: 0 !important;
  }
  
  #progressbar li:before, .cancelled-progressbar li:before, .return-progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #d1d1d1;
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh;
  }
  
  #progressbar li:after, .cancelled-progressbar li:after, .return-progressbar li:after {
    content: "";
    height: 3px;
    background: #d1d1d1;
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 2vh;
    top: 8px;
    z-index: 1;
  }
  
  .progress-track {
    padding: 0 8%;
  }
  
  #progressbar li:nth-child(2):after, #progressbar li:nth-child(1):after, #progressbar li:nth-child(3):after,
  #progressbar li:nth-child(4):after,
  .cancelled-progressbar li:nth-child(2):after, .cancelled-progressbar li:nth-child(1):after,
  .cancelled-progressbar li:nth-child(3):after, .cancelled-progressbar li:nth-child(4):after,
  .return-progressbar li:nth-child(2):after, .return-progressbar li:nth-child(1):after,
  .return-progressbar li:nth-child(3):after, .return-progressbar li:nth-child(4):after {
    margin: auto;
  }
  
  #progressbar li:nth-child(3):after, .cancelled-progressbar li:nth-child(3):after, .return-progressbar li:nth-child(3):after {
    float: left;
    width: 68%;
  }
  
  #progressbar li:nth-child(4):after, .cancelled-progressbar li:nth-child(4):after, .return-progressbar li:nth-child(4):after {
    margin-left: auto;
    width: 132%;
  }
  
  #progressbar li.active:after, #progressbar li.active:before,
  .cancelled-progressbar li.active:after, .cancelled-progressbar li.active:before,
  .return-progressbar li.active:after, .return-progressbar li.active:before {
    background: #00ff0d;
  }
  
  /* Alert Styles */
  
  .alert {
    margin-top: 1rem;
  }
  