<script src="/static/script.js"></script>
<script src="/static/user/loginScript.js"></script>
<script src="/static/admin/loginScript.js"></script>
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

</body>
</html>