
    .swal2-popup {
        background-color: white;
        color: #007bff;
    }

    .your-custom-class .swal2-popup {
    height: 100px; /* Set your desired height here */
}

.swal2-modal .swal2-title {
    font-size: 25px;
    line-height: 1;
    font-weight: 500;
    color: black;
    font-weight: initial;
    margin-bottom: 0;
}


