<!DOCTYPE html>
<html lang="en">
  <head>
    <title>O Z A R K</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/static/user/icomoon/style.css">

    <link rel="stylesheet" href="/static/user/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/user/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/user/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/user/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/user/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

 
    <link rel="stylesheet" href="/static/user/css/aos.css">

    <link rel="stylesheet" href="/static/user/css/style.css">

    <link rel="stylesheet" href="/static/user/css/invoice.css">

    <link rel="stylesheet" href="/static/user/css/wallet.css">

    <link rel="stylesheet" href="/static/user/css/progress.css">
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>


  


     <!-- <link rel="stylesheet" href="/static/swalStyle.css"> -->
    
  </head>
  <body>