<%- include('../layouts/header.ejs') %>

<style>
    .googlebutton {
        max-width: 320px;
        display: flex;
        padding: 0.5rem 1.4rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        align-items: center;
        border-radius: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.25);
        gap: 0.75rem;
        color: rgb(65, 63, 63);
        background-color: #fff;
        cursor: pointer;
        transition: all 0.6s ease;
    }

    .googlebutton svg {
        height: 24px;
    }

    .googlebutton:hover {
        transform: scale(1.02);
    }

    .container {
        margin-top: 100px;
    }

    h2 {
        margin-bottom: 1rem;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
    }

    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    
    @media only screen and (max-width: 768px) {
        .container {
            margin-top: 170px;
            margin-bottom: 170px;
            text-align: center;
        }

        h2 {
            font-size: 1.5rem;
        }

        form {
            max-width: 300px;
            margin: 0 auto;
        }

        .googlebutton {
            max-width: 280px;
            margin: 0 auto;
        }

        .flex {
            display: block;
            margin-top: 20px;
            margin-bottom: 20px; /* Add a margin-bottom value to match margin-top */
        }
    }
</style>

<div class="container">
    <h2 class="text-center"><strong>Login</strong></h2>

    <div class="flex mb-2">
        <a href="/auth/google" style="text-decoration: none;">
            <button class="button googlebutton">
                <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 262">
            <path fill="#4285F4" d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"></path>
            <path fill="#34A853" d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"></path>
            <path fill="#FBBC05" d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"></path>
            <path fill="#EB4335" d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"></path>
        </svg>
        Continue with Google
    </button>
</a>
</div>

    <% if (typeof message !== 'undefined') { %>
        <h6 id="invalid-msg" class="text-danger text-center"><%- message %></h6>
    <% } %>

    <form action="/login" method="post" onsubmit="return validatingForm()">
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Enter email" id="email" />
            <p id="email-error" class="error-message" style="color: red;"></p>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Enter password" id="password" />
            <p id="password-error" class="error-message" style="color: red;"></p>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Login</button>
    </form>

<div class="text-center">
<p class="mb-1">Forgot Password? <a href="/forgotPassword">Click Here</a></p>
</div>
<div class="text-center mb-0">
<p class="mb-0">New User? <a href="/register">Signup Here</a></p>
</div>
</div>

<%- include('../layouts/footer.ejs') %>