<%- include('../layouts/header.ejs') %>

<div class="container" style="margin-top: 100px;">
  <h2 class="mb-4 text-center"><strong>OTP Verification</strong></h2>

  <% if (typeof message !== 'undefined') { %>
    <div id="invalid-msg" class="alert alert-danger text-danger text-center mt-3">
      <h4> <%- message %> </h4>
    </div>
  <% } %>

  <form action="/otp" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" name="otp" placeholder="Enter OTP" required>
    </div>
    <button type="submit" class="btn btn-success">Verify OTP</button>
  </form>
  <div class="mt-3 text-center">
    <p>Didn't receive OTP? <a href="#">Resend OTP</a></p>
  </div>
 
</div>

<%- include('../layouts/footer.ejs') %>
